@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before. *::after {
  box-sizing: border-boxl;
}

body {
  margin: 0;
  background: linear-gradient(to right, black, white);
}

.calculator-grid {
display: grid;
margin-top: 2rem;
}